@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.ProductType

<h2>Assign Warehouse</h2>

<h4>Assign a warehouse for this product type:<span style="color: red" > @Html.DisplayFor(model => model.Name)</span></h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductTypeId)

    @Html.Label("Select warehouse")
    @Html.DropDownList("WarehouseId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>