@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.ProductType

<h4>Add a new product type</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.TotalQuantity, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)<br>
    @Html.LabelFor(model => model.Model)
    @Html.TextBoxFor(model => model.Model)<br>
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)<br>
    @Html.LabelFor(model => model.TotalQuantity)
    @Html.TextBoxFor(model => model.TotalQuantity)<br>
    @Html.LabelFor(model => model.ShipUnit)
    @Html.TextBoxFor(model => model.ShipUnit)<br>
    @Html.LabelFor(model => model.Weight)
    @Html.TextBoxFor(model => model.Weight)<br>
    @Html.LabelFor(model => model.Dimensions)
    @Html.TextBoxFor(model => model.Dimensions)<br>
    @* @Html.LabelFor(model => model.Picked, "Status")
    @Html.EditorFor(model => model.Picked)<br>
    @Html.LabelFor(model => model.Bin)
    @Html.TextBoxFor(model => model.Bin)<br> *@
    


    <input type="submit" value="Add new product type" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all products types", "Index")</p>