@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.ProductType

<h4>Add a new product type</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.TotalQuantity, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  <table class="table table-bordered table-hover table-striped" id="table-input">
    <tr>
      <th>@Html.LabelFor(model => model.Name)
      <td>@Html.TextBoxFor(model => model.Name)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.Model)
      <td>@Html.TextBoxFor(model => model.Model)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.Description)
      <td>@Html.TextBoxFor(model => model.Description)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.TotalQuantity, "Total Quantity")
      <td>@Html.TextBoxFor(model => model.TotalQuantity)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.ShipUnit, "Units per shipment")
      <td>@Html.TextBoxFor(model => model.ShipUnit)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.Weight, "Weight in lbs")
      <td>@Html.TextBoxFor(model => model.Weight)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.Dimensions, "LxWxH in inches")
      <td>@Html.TextBoxFor(model => model.Dimensions)<br>
    </tr>  
  </table>  


    <input type="submit" value="Add new product type" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all products types", "Index")</p>