@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.ProductType

<h2>Edit</h2>

<h4>Edit this product type: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ProductTypeId)

  @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.Model)
    @Html.EditorFor(model => model.Model)
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    @Html.LabelFor(model => model.TotalQuantity)
    @Html.EditorFor(model => model.TotalQuantity)
    @Html.LabelFor(model => model.ShipUnit)
    @Html.EditorFor(model => model.ShipUnit)
    @Html.LabelFor(model => model.Weight)
    @Html.EditorFor(model => model.Weight)
    @Html.LabelFor(model => model.Dimensions)
    @Html.EditorFor(model => model.Dimensions)


  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>