@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.ProductType

<h2>Edit</h2>

<h4>Edit this product type: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ProductTypeId)
  <table class="table table-bordered table-hover table-striped" id="table-input">
    <tr>
      <th>@Html.LabelFor(model => model.Name)
        <td>@Html.EditorFor(model => model.Name)</td></th>
    </tr>
    <tr>   
        <th>@Html.LabelFor(model => model.Model)
        <td>@Html.EditorFor(model => model.Model)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.Description)
        <td>@Html.EditorFor(model => model.Description)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.TotalQuantity)
        <td>@Html.EditorFor(model => model.TotalQuantity)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.ShipUnit)
        <td>@Html.EditorFor(model => model.ShipUnit)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.Weight)
        <td>@Html.EditorFor(model => model.Weight)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.Dimensions)
        <td>@Html.EditorFor(model => model.Dimensions)</td></th>
    </tr>  
  </table> 


  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>