@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Picklist

<h4>Add a new picklist</h4>

<p>@Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.OrderFor, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<div class="input">
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.OrderNumber)
  @Html.TextBoxFor(model => model.OrderNumber)<br>
  @Html.LabelFor(model => model.OrderFor)
  @Html.TextBoxFor(model => model.OrderFor)<br>
  @Html.LabelFor(model => model.Fulfilled)
  @Html.EditorFor(model => model.Fulfilled)<br>
  @Html.LabelFor(model => model.CreatedDate)
  @Html.EditorFor(model => model.CreatedDate)<br>
  @Html.LabelFor(model => model.DueDate)
  @Html.EditorFor(model => model.DueDate)<br>
  @Html.LabelFor(model => model.DateOrdered)
  @Html.EditorFor(model => model.DateOrdered)
  @Html.LabelFor(model => model.DateReceived)
  @Html.EditorFor(model => model.DateReceived)
  @Html.LabelFor(model => model.DateShipped)
  @Html.EditorFor(model => model.DateShipped)
  <input type="submit" value="Add new picklist" />
}
</div>
<p>@Html.ActionLink("Show all picklists", "Index")</p>