@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Picklist
@using WarehouseProject.Models

<h4>Add a new picklist</h4>

<p>@Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.OrderFor, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<div class="input">
@using (Html.BeginForm())
{
  <table class="table table-bordered table-hover table-striped" id="table-input">
    <tr>
      <th>@Html.LabelFor(model => model.OrderNumber)
      <td>@Html.TextBoxFor(model => model.OrderNumber)</td></th>
    </tr>
    <tr>   
      <th>@Html.LabelFor(model => model.OrderFor)
      <td>@Html.TextBoxFor(model => model.OrderFor)</td></th>
    </tr>
    <tr>   
      <th>@Html.LabelFor(model => model.Priority)
      <td>@Html.EditorFor(model => model.Priority)</td></th>
    </tr>
    <tr>   
      <th>@Html.LabelFor(model => model.Carrier)
      <td>@Html.EditorFor(model => model.Carrier)</td></th>
    </tr>
    <tr>   
      <th>@Html.LabelFor(model => model.OrderDate)
      <td>@Html.EditorFor(model => model.OrderDate)</td></th>
    </tr>
    <tr>   
      <th>@Html.LabelFor(model => model.ShipBy)
      <td>@Html.EditorFor(model => model.ShipBy)</td></th>
    </tr>  
  </table>   



  <input type="submit" value="Add new picklist" />
}
</div>

<p>@Html.ActionLink("Show all picklists", "Index")</p>