@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Picklist
@using WarehouseProject.Models

<h2>Picklist Details</h2>
<hr />
<table class="table table-bordered">
  <tr>
    <th>@Html.DisplayNameFor(model => model.OrderNumber)<td> @Html.DisplayFor(model => model.OrderNumber)</td></th>
  </tr>
  <tr>     
    <th>@Html.DisplayNameFor(model => model.OrderFor)<td>  @Html.DisplayFor(model => model.OrderFor)</td></th>
  </tr>
  <tr>   
    <th>@Html.DisplayNameFor(model => model.Priority)<td>  @Html.DisplayFor(model => model.Priority)</td></th>
  </tr>
  <tr>   
    <th>@Html.DisplayNameFor(model => model.Carrier)<td>  @Html.DisplayFor(model => model.Carrier)</td></th>
  </tr>
  <tr>   
    <th>@Html.DisplayNameFor(model => model.OrderDate)<td>  @Html.DisplayFor(model => model.OrderDate)</td></th>
  </tr>
  <tr>   
    <th>@Html.DisplayNameFor(model => model.ShipBy)<td>  @Html.DisplayFor(model => model.ShipBy)</td></th>
  </tr>  
</table>

<table class="table table-bordered">      
@if (@Model.JoinPicklistProductType.Count == 0)
{
  <h3>No product types have been added to this picklist yet!</h3>
} 
else
{
  <tr><td>picklist products</td>
  <ul>
    @foreach(PicklistProductType join in Model.JoinPicklistProductType)
    {
      <ul><tr></tr><td>Product: @join.ProductType.Name </td> <td>@Html.DisplayNameFor(model => model.QuantityNeeded): @Html.DisplayFor(model => model.QuantityNeeded)</td><td>@Html.DisplayNameFor(model => model.Fulfilled)  @Html.DisplayFor(model => model.Fulfilled)</td> </ul>
      @using (Html.BeginForm("DeleteJoin", "Picklists"))
      {
        <td>@Html.Hidden("joinId", @join.PicklistProductTypeId)
        <input type="submit" value="Delete"/></td>
      }
    }
  </ul>
  </tr>
}
</table>

<p>@Html.ActionLink("Update Picklist", "Edit", new { id = Model.PicklistId })</p>
<p>@Html.ActionLink("Remove Picklist", "Delete", new { id = Model.PicklistId })</p>
<p>@Html.ActionLink("Add a Product Type to this Picklist", "AddProductType", new { id = Model.PicklistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>