@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Picklist

<h2>Update</h2>

<h4>Edit this picklist: @Html.DisplayFor(model => model.OrderNumber)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PicklistId)

  @Html.LabelFor(model => model.OrderNumber)
  @Html.EditorFor(model => model.OrderNumber)
  @Html.LabelFor(model => model.OrderFor)
  @Html.EditorFor(model => model.OrderFor)<br>
  @Html.LabelFor(model => model.Fulfilled)
  @Html.EditorFor(model => model.Fulfilled)<br>
  @Html.LabelFor(model => model.CreatedDate)
  @Html.EditorFor(model => model.CreatedDate)<br>
  @Html.LabelFor(model => model.DueDate)
  @Html.EditorFor(model => model.DueDate)<br>
  @Html.LabelFor(model => model.DateOrdered)
  @Html.EditorFor(model => model.DateOrdered)
  @Html.LabelFor(model => model.DateReceived)
  @Html.EditorFor(model => model.DateReceived)
  @Html.LabelFor(model => model.DateShipped)
  @Html.EditorFor(model => model.DateShipped)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>