@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Picklist

<h2>Update</h2>

<h4>Edit this picklist: @Html.DisplayFor(model => model.OrderNumber)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PicklistId)

  <table class="table table-bordered table-hover table-striped" id="table-input">
    <tr>
      <th>@Html.LabelFor(model => model.OrderNumber)
      <td>@Html.EditorFor(model => model.OrderNumber)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.OrderFor)
      <td>@Html.EditorFor(model => model.OrderFor)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.Priority)
      <td>@Html.EditorFor(model => model.Priority)</td></th>
    </tr>
    <tr>    
      <th>@Html.LabelFor(model => model.Carrier)
      <td>@Html.EditorFor(model => model.Carrier)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.OrderDate)
      <td>@Html.EditorFor(model => model.OrderDate)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.ShipBy)
      <td>@Html.EditorFor(model => model.ShipBy)</td></th>
    </tr>
  </table>     

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>