@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Picklist

<h2>Update</h2>

<h4>Edit this picklist: @Html.DisplayFor(model => model.OrderNumber)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PicklistId)

  @Html.LabelFor(model => model.OrderNumber)
  @Html.EditorFor(model => model.OrderNumber)
  @Html.LabelFor(model => model.OrderFor)
  @Html.EditorFor(model => model.OrderFor)<br>
  @Html.LabelFor(model => model.Priority)
  @Html.EditorFor(model => model.Priority)<br>
  @Html.LabelFor(model => model.Carrier)
  @Html.EditorFor(model => model.Carrier)<br>
  @Html.LabelFor(model => model.OrderDate)
  @Html.EditorFor(model => model.OrderDate)<br>
  @Html.LabelFor(model => model.ShipBy)
  @Html.EditorFor(model => model.ShipBy)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>