@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Warehouse

<h2>Assign a Product to this warehouse</h2>

<h4>Add product for this warehouse:<span style="color: red" > @Html.DisplayFor(model => model.Building)</span></h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.WarehouseId)

    @Html.Label("Select product")
    @Html.DropDownList("ProductId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>