@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Warehouse

<h4>Add a new warehouse</h4>

<p>@Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>


@using (Html.BeginForm())
{
  <table class="table table-bordered table-hover table-striped" id="table-input">
  <tr>
    <th>@Html.LabelFor(model => model.Branch)
    <td>@Html.TextBoxFor(model => model.Branch)</td></th>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.Address)
    <td>@Html.TextBoxFor(model => model.Address)</td></th>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.City)
    <td>@Html.TextBoxFor(model => model.City)</td></th>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.State)
    <td>@Html.TextBoxFor(model => model.State)</td></th>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.Zipcode)
    <td>@Html.TextBoxFor(model => model.Zipcode)</td></th>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.Notes)
    <td>@Html.TextBoxFor(model => model.Notes)</td></th>
  </tr>
  


    <input type="submit" value="Add new warehouse" class="btn btn-default" />
  </table>
}

<p>@Html.ActionLink("Show all warehouses", "Index")</p>