@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Warehouse

<h1>Edit warehouse</h1>
<hr><br>

<h4>Edit this warehouse: @Html.DisplayFor(model =>model.Branch)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.WarehouseId)

  <table class="table table-bordered table-hover table-striped" id="table-input">
    <tr>
        <th>@Html.LabelFor(model => model.Branch)
        <td>@Html.EditorFor(model => model.Branch)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.Address)
        <td>@Html.EditorFor(model => model.Address)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.City)
        <td>@Html.EditorFor(model => model.City)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.State)
        <td>@Html.EditorFor(model => model.State)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.Zipcode)
        <td>@Html.EditorFor(model => model.Zipcode)</td></th>
    </tr>
    <tr> 
        <th>@Html.LabelFor(model => model.Notes)
        <td>@Html.EditorFor(model => model.Notes)</td></th>
    </tr>  
  </table>  

  <input type="submit" value="Save" class="btn btn-primary" />
}

<p>@Html.ActionLink("Back to warehouse list", "Index")</p>