@{
  Layout = "_Layout";
}

@using WarehouseProject.Models;

<h1>Warehouses for @User.Identity.Name</h1>

@if (@Model.Count == 0)
{
  <h3>No Warehouses have been added yet</h3>
} 
else
{
  <ul>
    @foreach (Warehouse warehouse in Model)
    {
      <li>@Html.ActionLink($"{warehouse.Branch}", "Details", new { id = warehouse.WarehouseId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add new warehouse", "Create")</p>
<p>@Html.ActionLink("See Product Type List", "Index", "ProductTypes")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>