@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Product

<h4>Add a new product</h4>

<p>@Html.ValidationMessageFor(model => model.ProductTypeId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  <table class="table table-bordered table-hover table-striped" id="table-input">
    <tr>
      <th>@Html.LabelFor(model => model.Barcode)
      <td>@Html.TextBoxFor(model => model.Barcode)</td></th>
    </tr>
    <tr>    
      <th>@Html.LabelFor(model => model.Description)
      <td>@Html.TextBoxFor(model => model.Description)</td></th>
    </tr>
    <tr>    
      <th>@Html.LabelFor(model => model.DateReceived)
      <td>@Html.EditorFor(model => model.DateReceived)</td></th>
    </tr>
    <tr>    
      <th>@Html.LabelFor(model => model.ProductType)
      <td>@Html.DropDownList("ProductTypeId")</td></th>
    </tr>
  </table>  

  <input type="submit" value="Add new product" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all products", "Index")</p>