@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Product

<h4>Add a new product</h4>

<p>@Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.ProductName)
    @Html.TextBoxFor(model => model.ProductName)
    @Html.LabelFor(model => model.ProductType)
    @Html.TextBoxFor(model => model.ProductType)
    @Html.LabelFor(model => model.ProductDescription)
    @Html.TextBoxFor(model => model.ProductDescription)
    @Html.LabelFor(model => model.Barcode)
    @Html.TextBoxFor(model => model.Barcode)
    @Html.LabelFor(model => model.Quantity)
    @Html.TextBoxFor(model => model.Quantity)
    @Html.LabelFor(model => model.Weight)
    @Html.TextBoxFor(model => model.Weight)
    @Html.LabelFor(model => model.Dimensions)
    @Html.TextBoxFor(model => model.Dimensions)
    @Html.LabelFor(model => model.DateOrdered)
    @Html.EditorFor(model => model.DateOrdered)
    @Html.LabelFor(model => model.DateReceived)
    @Html.EditorFor(model => model.DateReceived)
    @Html.LabelFor(model => model.DateShipped)
    @Html.EditorFor(model => model.DateShipped)

    <input type="submit" value="Add new flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>