@{
  Layout = "_Layout";
}

@using WarehouseProject.Models
@model WarehouseProject.Models.Product

<h2>Product Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Barcode): @Html.DisplayFor(model => model.Barcode)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3> 
<h3>@Html.DisplayNameFor(model => model.DateReceived): @Html.DisplayFor(model => model.DateReceived)</h3>
@* <h3>@Html.DisplayNameFor(model => model.Picked): @Html.DisplayFor(model => model.Picked)</h3>
<h3>@Html.DisplayNameFor(model => model.Bin): @Html.DisplayFor(model => model.Bin)</h3>  *@
<h3>@Html.DisplayNameFor(model => model.ProductType): @Html.DisplayFor(model => model.ProductType.Name)</h3>


<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Product or Product Type", "Edit", new { id = Model.ProductId })</p>
<p>@Html.ActionLink("Delete Product", "Delete", new { id = Model.ProductId })</p>