@{
  Layout = "_Layout";
}

@using WarehouseProject.Models
@model WarehouseProject.Models.Product

<h2>Product Details</h2>
<hr />
<table class="table table-bordered">
  <tr>
    <th>@Html.DisplayNameFor(model => model.Barcode)<td> @Html.DisplayFor(model => model.Barcode)</td></th>
  </tr>
  <tr> 
    <th>@Html.DisplayNameFor(model => model.Description)<td> @Html.DisplayFor(model => model.Description)</td></th>
  </tr>
  <tr> 
    <th>@Html.DisplayNameFor(model => model.DateReceived)<td> @Html.DisplayFor(model => model.DateReceived)</td></th>
  </tr>
  <tr>   
    <th>@Html.DisplayNameFor(model => model.ProductType)<td> @Html.DisplayFor(model => model.ProductType.Name)</td></th>
  </tr>  


<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Product or Product Type", "Edit", new { id = Model.ProductId })</p>
<p>@Html.ActionLink("Delete Product", "Delete", new { id = Model.ProductId })</p>