@{
  Layout = "_Layout";
}

@model WarehouseProject.Models.Product

<h2>Edit</h2>

<h4>Edit this product: @Html.DisplayFor(model => model.Barcode)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ProductId)

  <table class="table table-bordered table-hover table-striped" id="table-input">
    <tr>

      <th>@Html.LabelFor(model => model.Barcode)
      <td>@Html.EditorFor(model => model.Barcode)</td></th>
    </tr>
    <tr>    
      <th>@Html.LabelFor(model => model.Description)
      <td>@Html.EditorFor(model => model.Description)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.DateReceived)
      <td>@Html.EditorFor(model => model.DateReceived)</td></th>
    </tr>
    <tr>  
      <th>@Html.LabelFor(model => model.ProductType)
      <td>@Html.DropDownList("ProductTypefId")</td></th>
  </tr>  
  </table>  

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>